<div class="flex items-center justify-center">
    <table class="table-auto text-2xl">
        <th class="px-4 py-2">Name</th>
        <th class="px-4 py-2">Category</th>
        <!-- loop through each of the rows returned-->
        <% result.skills.data.forEach(function(row) { %>
        <tr>
            <td class="border px-4 py-2"><%= row.name %></td>
            <td class="border px-4 py-2"><%= row.skill_category.name %></td>

            <td><!-- edit button action -->
                <form action="/skills/getById" method="POST">
                    <input type="hidden" name="id" value="<%=row.id %>">
                    <input type='submit' value="Edit" class="px-2 py-2 hover:text-blue-500"/>
                </form>
            </td>
            
            <td><!-- delete button action -->
                <form action="/skills/delete" method="POST">
                    <input type="hidden" name="name" value="<%=row.name %>">
                    <input type='submit' value="Delete" class="px-2 py-2 hover:text-red-500"/>
                </form>
            </td>

        </tr>
        <%
        });
        %>
    </table>
</div>