<header class="sticky z-50 bg-gray-300 top-0 p-4">
    <ul class="flex text-2xl ">
        <li>
            <a class="text-blue-500 hover:text-blue-800"
            href="/tools">View All Tools</a>
        </li>
        <li>
            <a class="text-blue-500 hover:text-blue-800"
            href="/tools/addPage">Add A Tool</a>
        </li>
    </ul>
</header>