<div style="background-color: rgb(78, 78, 78); width: 200px; height: 100vh; position: fixed; top: 80px; left: 0; padding: 20px;">
    <ul style="list-style-type: none; padding: 0;">
        <li style="margin-bottom: 10px;"><a href="#" style="color: white;">Home</a></li>
        <li style="margin-bottom: 10px;"><a href="/employees" style="color: white;">View All Employees</a></li>
        <li style="margin-bottom: 10px;"><a href="#" style="color: white;">Add Employee</a></li>
        <li style="margin-bottom: 10px;"><a href="/skills" style="color: white;">View All Skills</a></li>
        <li style="margin-bottom: 10px;"><a href="#" style="color: white;">Add Skill</a></li>
        <li style="margin-bottom: 10px;"><a href="#" style="color: white;">Allocate Skill to Employee</a></li>
        <li style="margin-bottom: 10px;"><a href="/skillcategory" style="color: white;">View Skill Categories</a></li>
        <li style="margin-bottom: 10px;"><a href="#" style="color: white;">Add Skill Categories</a></li>
    </ul>
</div>